:root {
    /* TEXT VARIABLES */
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #adbdcc;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    --h1-size: 5.875rem;
    --h1-height: 6.75rem;
    --h2-size: 3.125rem;
    --h2-height: 4.688rem;
    --h3-size: 2.5rem;
    --h4-size: 2rem;
    --h5-size: 1.75rem;
    --h6-size: 1.375;
    --subtitle-size: 1rem;
    --subtitle-height: 1.625rem;
    --p-size: 1.125rem;
    --p-height: 1.625rem;
    --secondary-text-size: 0.875rem;
    --secondary-text-height: 1.125rem;
    --button-size: 1rem;
  
    /* SPACING VARIABLES */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
    --standard-width: 71.5rem;
    /* COLOR VARIABLES */
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --primary-accent: #0a2540;
    --primary-button-hover: #6d7a88;
    --bg-white: #fff;
    --bg-light: #f7f9fc;
  
    --standard-border-radius: 20px;
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    --primary-gradient: linear-gradient(
      101.33deg,
      #08209a 0.76%,
      #6563ff 33.33%,
      #36c5f0 76.92%,
      #83e2ff 96.96%
    );
  }

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px; 
    width: 100vw;
    gap: 5.5rem;
    margin: auto;
    overflow-x: hidden;
}

canvas.Header-canvas{
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    z-index: -1;
    border-left: 3500px solid #6563ff;
    border-bottom: 450px solid transparent;
    overflow-x: hidden;
    
}

nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navList{
    display: flex;
    padding: 1rem;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--primary-accent);
}
.navList li a:hover{
    text-decoration: underline;
}

.navList li a{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-light);
    list-style: none;
    border: 1rem;
    padding: 0 1rem 0 1rem;
    font-size: var(--button-size);
    font-weight: 800;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.burgerBtn{
    display: none;
}

.primary-button{
    font-family: var(--body-font);
    border: none;
    margin: 0px 1rem;
    background-color: var(--primary-accent);
    color: var(--bg-light);
    border-radius: var(--standard-border-radius);
    padding: 0.5rem 1rem;
    font-size: var(--button-size);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width:12.5rem; 
    height: 3.5rem;   
}
.secondary-button{
    margin: 0px 1rem;
    width: 12.5rem;
    background-color:white;
    padding: 0.5rem 1rem;
    color: var(--purple-2);
    font-weight: 800;
    font-size: var(--button-size);
}
.primary-button:hover{
    opacity: 0.5;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.5s;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.icon:hover {
    justify-content: space-around;
    /* transition: all 5s;     */
}

nav button.Sign-in{
    background-color: rgba(240, 237, 237, 0.35);
    border: 0;
    color: var(--bg-light);
}
.section{
    padding: 3.5rem 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 100%;  
    gap: 3.5rem;  
}

.section1-container{
    display: grid;
    width: 100%;
    grid-template: 1fr / auto 1fr ;
    margin: 2rem 0;
    align-self: center;
    column-gap: 0.75rem;
}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.section1--column1 h1{
    color: var(--text-dark);
    font-size: var(--h1-size);
    font-family: var(--heading-font);
}

.section1--column1 p{
    font-family: var(--body-font);
    font-size: var(--p-size);
    color: var(--text-dark)
}
p{
    font-family: var(--body-font);
    font-size: var(--p-size);
    font-weight: 400;
}
.column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1--column2 img{
    height: 37.5rem;
}

div.allies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    max-width: 100%;
}

div.allies img{
    width: 200px;
    height: auto;
    padding: 10px;
}

img#allies1 {
    grid-row: 1;
    grid-column: 1;
}
img#allies2 {
    grid-row: 1;
    grid-column: 2;
}
img#allies3 {
    grid-row: 1;
    grid-column: 3;
}
img#allies4 {
    grid-row: 1;
    grid-column: 4;
}
img#allies5 {
    grid-row: 2;
    grid-column: 1;
}
img#allies6 {
    grid-row: 2;
    grid-column: 2;
}
img#allies7 {
    grid-row: 2;
    grid-column: 3;
}
img#allies8 {
    grid-row: 2;
    grid-column: 4;
}

.section2{
    gap:30px
}

h4{
    color: var(--purple-1);
    font-size: var(--subtitle-size);
    font-family: var(--heading-font);
}

h2{
    font-size: var(--h3-size);
    font-family: var(--heading-font);
}

.paragraph-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.paragraph-container p{
    width: 50%;
    margin-bottom: 15px;
}

.section2-btn{
    background-color: var(--purple-1);
}

.section2-grid{
    margin-top: 2rem;
    display:grid;
    grid-template:
    "credit slack slack"
    "phone slack slack"
    "phone dash dash";
    gap: 10px;
    width: 100%;
    object-fit: fill;
    z-index: -2;
}

.credit-card{    
    grid-area: credit;
    width: 100%;    
}
.slack-invoice{
    grid-area: slack;     
    width: 100%;    
}

.dash{
    grid-area: dash;
    width: 100%;    
    
}
.phone{
    grid-area:phone;
    width: 100%;    
     
}

.section3{
    position: relative;
}

.section3-container{
    gap:0.5rem;
}

.section3-container::before{
    content: "";
    position: absolute;
    background-color: var(--primary-accent);
    width: 100%;
    height: 130%;
    top:-25%;
    left:0%; 
    transform: skewY(-10deg);
    z-index: -1;
}

.section3-container{
    display: flex;
}

.section3-container .column1 p, 
.section3-container .column1 h2{
    color: var(--bg-white);
}

.section3-container .column1 button{
    color:var(--primary-accent);
    background-color: var(--blue-1);
}
.section3 .column2 img{
    width: 100%;
    border-radius: var(--standard-border-radius);
    margin-bottom: 0.6rem;
}

.section3-container .column1 .inner-container{
    display: flex;
    margin-top: 1.25rem;
    gap: 0.6rem;
}
.section3-container .column1 .inner-container div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.section3 h3{
    color: var(--bg-light);
    font-size: var(--h4-size);
}

.section3-container .column1 .inner-container div button{
    background-color: var(--primary-accent);
    color: var(--blue-1);
}
img.icon{
    width: 80px;
}

@media screen and (max-width:768px) { 
    :root{
        font-size: 14px;
        gap: 0px;
    }

    nav ul li{
        display:none;
    }

    nav div button.Sign-in{
        display:none;
    }

    .burgerBtn{
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0px 15px;
        color: var(--bg-light);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: var(--button-size);
        font-weight: 800;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 237, 237, 0.35);
        width: 4rem;
        height: 4rem;
        gap: 0.25rem;
    }
    .burgerBtn:active{
        opacity: 0.5;
        transition: all 0.5s;
    }
    
    hr{
        width: 95%;
        color: var(--bg-light);
        border:1px solid var(--bg-light)
    }

    .section1--column1 h1{
        font-size: 4.5rem;
    }

    .column2 img{
        display: none
    }

    div.allies{
        justify-content: center;
    }

    
}